<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNG Parameters Suite">
   <test name="Params">
      <parameter name="url" value="https://www.google.com/" />
      <parameter name="searchtext" value="selenium" />
      <classes>
         <class name="com.parametersTest.DataTest" />
      </classes>
   </test>
</suite>
